// Base styles

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-weight: var(--wpe--font-weight--medium);
	font-size: 1rem;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	background-color: var(--wpe--code--background-color);
	color: var(--wpe--code--color);
	padding: 0.25rem 0.5rem;
	border-radius: 4px;
	white-space: nowrap;
	margin: 0 0 1rem;
	display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1rem;
}

p {
	margin: 0 0 1rem;
	line-height: 1.8;
}

a {
	color: var(--link-color);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

::-moz-selection {
	color: var(--wpe--color--white);
	background-color: var(--wpe--color--accent);
}

::selection {
	color: var(--wpe--color--white);
	background-color: var(--wpe--color--accent);
}

.gallery{
	margin:5% 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
}

.galleryItem{
	list-style-type: none;
	&:hover{
		img{
			opacity: .6;
		}
	}
}

.backButton{
	text-align: right;
	margin:2% 5%;
	font-weight: bold;
	cursor: pointer;

	&:hover{
		text-decoration: underline;
	}
}

.title{
	text-align: center;
}

.details{
	text-align: center;

	&.lyrics{
		max-width: 400px;
		margin:0 auto;
	}
}

.cover{
	display: block;
	margin:0 auto 30px auto;
	max-width: 400px;
}

.trackList{
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	padding-inline-start: 0;
}

.listItem a{
	text-decoration: none;
	color:#000;

	&:hover{
		font-weight: bold;
	}
}

.lyrics{
	white-space: pre-wrap;
}